<footer>
      

    <p>&copy; <span id="copyrightYear"></span> Liam McCabe</p>

    <script>
      // Get the current year
      const currentYear = new Date().getFullYear();
  
      // Set the current year in the HTML
      document.getElementById('copyrightYear').innerText = currentYear;
    </script>


  </footer>
</body>
</html>