<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Snooker Booker</title>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="../main.css" type="text/css" />
    <style type="text/css">.body { width: auto; }</style>
    

    <style>

      
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="//code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="//code.jquery.com/ui/1.13.0/jquery-ui.min.js" type="text/javascript"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <header>
      <ul class="menu">
        <li><a href="/admin">Menu Link 1</a></li>
        <li><a href="#">Menu Link 2</a></li>
        
      </ul>
      <h1>Snooker Booker</h1>
      <ul class="menu">
        <li><a href="#">Menu Link 3</a></li>
        <li><a href="#">Menu Link 4</a></li>
        
      </ul>


     
    </header>

    <div class="notice">
      Online Booking Form Now Open. <a href="/tables/0">Book Now</a>.
    </div>


    