<%- include('../partials/mainheader') -%>
        <div class="container">
           
            <div class="content-wrapper">
                <div class="flex-div">
                    <h2>Page Not Found!</h2>
                    <img src="/yetti.jpg" alt="Centered Image">
                    <h2>404</h2>
                    <p>
                        
                        Oops! Looks like you've ventured into uncharted territory. The page you're looking for seems to have gone on vacation. Don't worry, though! You can navigate back to safety using the links above or contact us if you need assistance. Happy exploring!
                    </p>
                  
                </div>


   
           
            </div>

            <%- include('../partials/mainfooter') -%>