<%- include('../partials/mainheader') -%>
        <div class="container">
           
            <div class="content-wrapper">
                <div class="flex-div">
                    <h2>Customized Booking Pages</h2>
                    <img src="/playback.jpg" alt="Centered Image">
                    <p>Empower your club with a personalized booking experience tailored to your brand. Our platform offers custom booking pages, allowing clubs to showcase their unique identity while providing users with a seamless booking journey. From color schemes to logos, every aspect of the page can be customized to reflect your club's branding, ensuring a consistent and immersive user experience.</p>
                    <a href="/portfolio"><button class="blue-button">More</button></a>
                </div>
                <div class="additional-flex-divs">
                    <div class="flex-div">
                        <h2>Tailored to Client Demands</h2>
                        <img src="/playback.jpg" alt="Centered Image">
                        <p>We understand that every club has its own set of requirements. That's why our booking system is designed to be flexible and adaptable, catering to the specific needs of each client. Whether it's integrating special booking rules, implementing custom pricing structures, or incorporating unique features, our platform can be tailored to meet your exact demands, ensuring a solution that aligns perfectly with your business objectives.</p>
                        <a href="/services"><button class="blue-button">More</button></a>
                    </div>
                    <div class="flex-div">
                        <h2>Efficient Admin Portal</h2>
                        <img src="/playback.jpg" alt="Centered Image">
                        <p>Simplify the management of your bookings with our intuitive admin portal. From tracking reservations to managing availability, our centralized platform puts you in control of your schedule. With easy-to-use tools and real-time updates, you can streamline operations, optimize resource allocation, and provide exceptional service to your customers, all from one convenient dashboard.</p>
                        <a href="/services"><button class="blue-button">More</button></a>
                    </div>
                </div>
            </div>

            <%- include('../partials/mainfooter') -%>