<%- include('../partials/mainheader') -%>
        <div class="container">
           
            <div class="content-wrapper">
                <div class="flex-div">
                    <h2>Client Portfoloio</h2>
                    <img src="/customers.jpg" alt="Centered Image">
                    <p>
                        
                        Here you will find a showcase of some of our esteemed clients and projects. We take great pride in the relationships we've built and the work we've accomplished. Each project represents a unique collaboration, where we've leveraged our expertise to bring our clients' visions to life.

                        Explore our portfolio to see the diverse range of industries we've had the privilege to work with. From startups to established enterprises, our commitment to excellence and innovation shines through in every project.
                        
                        We invite you to browse through our portfolio and discover the success stories behind each project. If you're interested in partnering with us, don't hesitate to reach out. We look forward to the opportunity to add your project to our growing list of successes.
                        
                    </p>
                  
                </div>


                <div class="portfolio-container">
                    <div class="portfolio-item">
                        
                        <h2>J-Macs Pool Club </h2>
                        <p>Pool & Snooker Club using our online booking system</p>
                        <p>
                        <a href="/tables/0/j-macs-pool-club">Here</a>
                    </p>
                    </div>
               
                  </div>
           
            </div>

            <%- include('../partials/mainfooter') -%>