<%- include('../partials/mainheader') -%>
        <div class="container">
           
            <div class="content-wrapper">
                <div class="flex-div">
                    <h2>Something Went Wrong</h2>
                    <img src="/error.jpg" alt="Centered Image">
                    <p>
                        
                        Uh-oh! Looks like we hit a snag. Don't pull your hair out just yet we're on it to get things back on track!   
                    </p>
                  
                </div>


   
           
            </div>

            <%- include('../partials/mainfooter') -%>