<%- include('../partials/mainheader') -%>
        <div class="container">
           
            <div class="content-wrapper">
                <div class="flex-div">
                    <h2>Wrong Captcha!</h2>
                    <img src="/wrong.jpg" alt="Centered Image">
                    <p>
                        
                        We're sorry, but it seems like there was an issue with the captcha verification. Please try again or follow the instructions carefully to complete the captcha process. This helps us prevent spam and ensures the security of our contact form. Thank you for your understanding and cooperation.   
                    </p>
                  
                </div>


   
           
            </div>

            <%- include('../partials/mainfooter') -%>